In [1]:
1+1

2

In [3]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [4]:
list(range(1,10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [5]:
    address = 'Tokyo,Japan'
address.split(',')

['Tokyo', 'Japan']

In [6]:
address.split('o')

['T', 'ky', ',Japan']

In [7]:
address.split('j')

['Tokyo,Japan']

In [8]:
address.upper()

'TOKYO,JAPAN'

In [10]:
len(address)

11

In [15]:
name='Taro'

In [18]:
name.upper()

'TARO'

In [20]:
address.index('T')

0

In [24]:
address.index('p')

8

In [25]:
address.index('x')

ValueError: substring not found

In [26]:
address.index('o')

1

In [27]:
address.lower()

'tokyo,japan'

In [28]:
from datetime import *
date_a = date(2008, 1, 1)
date_b = date(2008, 1, 5)
result = date_b - date_a
print(result)

4 days, 0:00:00

In [29]:
from datetime import *
date_a = date(2008, 1, 1)
date_b = date(2009, 1, 1)
result = date_b - date_a
print(result)

366 days, 0:00:00

In [30]:
date.today()

datetime.date(2017, 5, 17)

In [31]:
date_a.month

1

In [32]:
date_a.day

1

In [33]:
from datetime import *
date_a = date(1996, 4, 24)
date_b = date(2017, 5, 17)
result = date_b - date_a
print(result)

7693 days, 0:00:00

In [34]:
from datetime import *
date_a = date(2008, 1, 1)
date_b = date(2008, 1, 5)
result = date_b - date_a
print(result)

4 days, 0:00:00

In [35]:
date_a

datetime.date(2008, 1, 1)

In [36]:
date_a.year

2008

In [37]:
date_a.weekday()

1

In [38]:
date_a.month

1

In [ ]:
birthbay = date(2017.5.10)

In [44]:
date_d = date.today()

In [46]:
life = date_d - birthday

NameError: name 'birthday' is not defined

In [43]:
print(life)

NameError: name 'life' is not defined

In [48]:
tem = date(1994,1,1)

In [50]:
tem = '1994,1,1'
tem = [1994,1,1]

In [51]:
from datetime import *
today = date.today()
birthday = date(2016, 5, 10)
life = today - birthday
print(life.days)

372

In [53]:
date.today()

datetime.date(2017, 5, 17)

In [54]:
date_a.today()

datetime.date(2017, 5, 17)